<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zdxh.mtkj.dataobject.mapper.PhoneMapper">


    <insert id="insertPhone" parameterType="java.lang.String">
        INSERT INTO`phone`(`ph_num`)
         VALUES
        (#{ph_num})
    </insert>

    <select id="selectPhoneId" parameterType="cn.zdxh.mtkj.dataobject.Phone"
               resultType="java.lang.Integer" >
        select *
        from
        phone
        where ph_num = #{ph_num}
    </select>

    <delete id="deletePhone" >
        delete
        from phone
        where ph_num=#{ph_num}
    </delete>

</mapper>